* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}
	

body {
	min-height: 100vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	background: linear-gradient(#ffe259,  #ffa751);
	font-family: sans-serif;
	color: black;  
}

.intro {
	font-family: italic 20px;
	color: black;
	opacity: 70%;
}


.container {
  width: 400px;
  height: 450px;
  margin-bottom: 90px;
  perspective: 750px;
  transform-style: preserve-3d;
}

.card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	border-radius: 8%;
	background: #f46b45;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
	transition: 1s ease;
}


.location,
.icon,
.temperature {
	height: 33vh;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.75s ease;
}

.degree-section {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.degree-section span {
	margin: 10px;
	font-size: 30px;
}

.degree-section h2 {
	font-size: 40px;
}

.icon img{
	width: 80px;
	height: auto;
	transition: all 0.75s ease-out;
}

.temperature-description {
	font-size: 30px;
}